<!DOCTYPE HTML>
<html>
<head> 
    <meta charset="UTF-8">
	<title>TODO: Title goes here</title>
	<meta name="description" content="TODO: description goes here ">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/static/css/AmandaTemplate.css">
   </head>
<body>	
    <div class="container">
        <div class="header">
            <h1><span>(Pylot) </span> Travel Dashboard</h1>
            <h3>Assigment - optional</h3>
            <div class="descr">
                <p>Assigment description: User login and registration with validation</p>
            </div>
        </div><!-- end of header content-->
        <div class="maincontent">
            <div class="row">
                <h3>Welcome {{ session['name'] }}</h3>
                <p>Your id is: {{ session['id'] }}</p>
                <a href="/logout">Logout</a>
            </div>
            <div class="row">
                <h2>Your trip schedule</h2>
                <table>
                    <tr>
                        <th>Destination</th>
                        <th>Travel Start Date</th>
                        <th>Travel End Date</th>
                        <th>Plan</th>
                    </tr>
                  
                    {% for mytrip in mytrips %}
                     <tr>   
                            <td>{{ mytrip }}</td>
                            <!-- <td>{{ mytrip['start_date'] }}</td>
                            <td>{{ mytrip['end_date'] }}</td>
                            <td>{{ mytrip['plan'] }}</td> -->
                     </tr>   
                    {% endfor %}

                </table>
            </div>
            <div class="row">
            <h2>Other User's Travel Plans</h2>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Destination</th>
                        <th>Travel Start Date</th>
                        <th>Travel End Date</th>
                        <th>Do you want to join?</th>
                    </tr>
                        <td>Placeholder Bagheera Fry</td>
                        <td>Doggy land</td>
                        <td>8/1/2016</td>
                        <td>8/15/2016</td>
                        <td>Join</td>
                </table>
            </div>
            <div class="row">
                <a href="/travel/add">Add new travel</a>
            </div>

            
        </div><!-- end of main content-->
        <div class="footer">
            <p>created by: Amanda Fry</p>
            <a class="footerSpace" href="mailto:FeAmandaF@hotmail.com">FeAmandaF@hotmail.com</a>
            <a href="https://www.linkedin.com/in/amandafry1">Amanda's LinkedIn profile</a>
        </div><!-- end of footer -->
      </div><!-- end of container -->
</body>
</html>
