<!DOCTYPE HTML>
<html>
<head> 
    <meta charset="UTF-8">
	<title>TODO: Title goes here</title>
	<meta name="description" content="TODO: description goes here ">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/static/css/AmandaTemplate.css">
   </head>
<body>	
    <div class="container">
        <div class="header">
            <h1><span>(Pylot) </span> Destination Page</h1>
            <h3>Assigment - optional</h3>
            <div class="descr">
                <p>Assigment description: </p>
            </div>
        </div><!-- end of header content-->
        <div class="maincontent">
            <div class="row">
                <a href="/dashboard">Home</a>
                <a href="/logout">Logout</a>
            </div>
            <h2>{{ trip_details[0]['destination']}}</h2>
                <div class="row">
                    <p>Planned by: {{ trip_details[0]['first_name']}} {{ trip_details[0]['Last_name']}}</p>
                </div>
                <div class="row">
                    <p>Description: {{ trip_details[0]['plan']}}</p>
                </div>
                <div class="row">
                    <p>Travel Start date: {{ trip_details[0]['start_date']}}</p>
                </div>
                <div class="row">
                    <p>Travle End Date: {{ trip_details[0]['end_date']}}</p>
                </div>
            <h3>Other users' joining the trip: </h3>
                <div class="row">
                    
                </div>

        </div><!-- end of main content-->
        <div class="footer">
            <p>created by: Amanda Fry</p>
            <a class="footerSpace" href="mailto:FeAmandaF@hotmail.com">FeAmandaF@hotmail.com</a>
            <a href="https://www.linkedin.com/in/amandafry1">Amanda's LinkedIn profile</a>
        </div><!-- end of footer -->
      </div><!-- end of container -->
</body>
</html>
